body {
  background-color: aqua;
}

h1 {
  top: 25%;
  font-size: 3em;
}

.container {
  text-align: center;
  background-color: #dbbadd;
  width: 60%;
  margin: auto;
  height: 100vh;
  border: 2px solid tomato;
  padding: 45px;
}

img {
  border: 3px solid tomato;
  border-radius: 50%;
}
